python-dotenv
pip>=21.0.0
requests
pymongo
sentence-transformers
transformers
yake
langdetect
numpy>=1.20.0
torch
torchvision
torchaudio
accelerate
bitsandbytes
tiktoken
protobuf
sentencepiece
faiss-cpu
